<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>{{ restaurant.name }}</h1>
<address>{{ restaurant.address }}</address>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for m in messages %}
                <li><strong>{{ m }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<hr>

{% if items %}

    <a href="{{ url_for('new_menu', restaurant_id=restaurant.id) }}">Create new menu item</a>

    {% for i in items %}
        <div>

            <h2>{{ i.name }}</h2>
            <ul>
                <li>{{ i.price }}</li>
                <li>{{ i.course }}</li>
                <li>{{ i.description }}</li>
            </ul>

            <a href="{{ url_for('edit_menu', restaurant_id=restaurant.id, menu_id=i.id) }}">Edit</a>
            <a href="{{ url_for('delete_menu', restaurant_id=restaurant.id, menu_id=i.id) }}">Delete</a>

        </div>
    {% endfor %}

{% else %}
    <a href="{{ url_for('new_menu', restaurant_id=restaurant.id) }}">Create new menu item</a>
{% endif %}

</body>
</html>