<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>{{ restaurant.name }}</h1>
<address>{{ restaurant.address }}</address>

{% if items %}

    <a href="#">Create new restaurant</a>

    {% for i in items %}
        <div>
            <h2>{{ i.name }}</h2>
            <ul>
                <li>{{ i.price }}</li>
                <li>{{ i.course }}</li>
                <li>{{ i.description }}</li>
            </ul>
        </div>
    {% endfor %}

{% else %}
    <a href="#">Create new restaurant</a>
{% endif %}

</body>
</html>