<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>{{ restaurant.name }}</h1>
<address>{{ restaurant.address }}</address>

<h2>Enter New Menu</h2>

<form action="{{ url_for('new_menu', restaurant_id=restaurant.id) }}" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="name">

    <label for="price">Price</label>
    <input type="text" id="price" name="price">

    <label for="course">Course</label>
    <input type="radio" name="course" value="Appetizer" checked>Appetizer
    <input type="radio" name="course" value="Entree">Entree
    <input type="radio" name="course" value="Dessert">Dessert
    <input type="radio" name="course" value="Beverage">Beverage

    <label for="description">Description</label>
    <input type="text" id="description" name="price">

    <input type="submit" value="Create">
</form>

</body>
</html>