<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>{{ restaurant.name }}</h1>
<address>{{ restaurant.address }}</address>

<h2>Enter New Menu</h2>

<form action="new_menu.html" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="name">

    <label for="price">Price</label>
    <input type="text" id="price" name="price">

    <label for="course">Course</label>
    <input type="text" id="course" name="course">

    <label for="description">Description</label>
    <input type="text" id="description" name="price">

    <input type="submit" value="Create">
</form>

</body>
</html>