<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Restaurants In Mandalay</h1>

{% if restaurants %}

    <a href="#">Create new restaurant</a>
    {% for r in restaurants %}
        <div>
            <h2><a href="#">{{ r.name }}</a></h2>
            <address>{{ r.address }}</address>
        </div>
    {% endfor %}

{% else %}

    <p>There is no restaurants yet.</p>
    <a href="#">Create new restaurant</a>

{% endif %}


</body>
</html>