<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Restaurants In Mandalay</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for m in messages %}
                <li><strong>{{ m }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if restaurants %}

    <a href="{{ url_for('new_restaurant') }}">Create new restaurant</a>
    {% for r in restaurants %}
        <div>
            <h2><a href="{{ url_for('show_menu', restaurant_id=r.id) }}">{{ r.name }}</a></h2>
            <address>{{ r.address }}</address>
            <a href="{{ url_for('edit_restaurant', restaurant_id=r.id) }}">Edit</a>
            <a href="{{ url_for('delete_restaurant', restaurant_id=r.id) }}">Delete</a>
        </div>
    {% endfor %}

{% else %}

    <p>There is no restaurants yet.</p>
    <a href="{{ url_for('new_restaurant') }}">Create new restaurant</a>

{% endif %}


</body>
</html>